<h1>Companies</h1>
<%= link_to 'New Company', new_company_path %>

<ul>
  <% @companies.each do |company| %>
    <li>
      <%= link_to company.name, company_path(company) %>
      (Employees: <%= company.employee_count %>, Reimbursement Total: <%= company.reimbursement_sum %>)
    </li>
  <% end %>
</ul>
